*{
    margin:0px;
    padding: 0px;

}
section{
    height: 650px;
}
.head{
    background-color: #ffffe6;
}
.q{
    padding-top: 120px;
}
.p img{
    
    position: relative;
    left: 80px;
}
.p{
    background-color: #ffffe6;
}
.hdp{
    color: orange;
}
.picc{
    height: 300px;
    width: 250px;
    background-color: #e0e0eb;
    margin: auto;
    border-radius: 5px;
}
#baje{
    
    max-width: 80%;
    position: relative;
    left: 20px;
}
.box{
    width: 600px;
    height: 120px;
    margin-top: 10px;
}
.write{
    margin-left: 30px;
}
#footer-pic{
    position: relative;
    left: 25%;
}