*{
    margin:0px;
    padding: 0px;

}
.head{
    background-color: #ffffe6;
}
.q{
    padding-top: 120px;
}
.card-img-top{
    width: 280px;
    height: 300px;
}
.picc{
    margin: 15px; 
    border-radius: 8px;
    background-color:rgb(238, 224, 224);
}
.card {
    box-shadow: 3px 3px 10px gray;
}
.hdp{
    color: orange;
}

